/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    gap: 350px;
 /*   background-color: #f2f2f2; */
    background-color: #ccc;
}

#navigation img {
    height: auto;
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #043E65;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00A854;
}

.section {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

#hero img {
    transform: rotate(180deg);
    filter: blur(3px);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#hero {
    position: relative;
}

#tema {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: relative;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.text h1 {
    text-transform: uppercase;
    margin-left: 190px;
    line-height: 10px;
    font-family: monospace;
}

.text p {
    font-size: small;
    margin-left: 190px;
}

button  {
    padding: 5px;
    margin-left: 190px;
    background-color: #2feb2f;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s;
  }
